<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name=".Net Rules" Description="These rules enforces consistent code quality guidelines." ToolsVersion="16.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None"/>

    <Rule Id="SA1649" Action="None"/>
    <Rule Id="SA1600" Action="None"/>
    <Rule Id="SA1208" Action="None"/>
    <Rule Id="SA1616" Action="None"/>
    <Rule Id="SA1614" Action="None"/>
    <Rule Id="SA1505" Action="None" />
    <Rule Id="SA1508" Action="None" />
    <Rule Id="SA1000" Action="Info" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1118" Action="None" />
    <Rule Id="SA1129" Action="None" />
    <Rule Id="SA1124" Action="None" />
    <Rule Id="SA1009" Action="None" />
    <Rule Id="SA1013" Action="None" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1204" Action="None" />
    <Rule Id="SA1210" Action="None" />
    <Rule Id="SA1300" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1313" Action="None" />
    <Rule Id="SA1401" Action="None" />
    <Rule Id="SA1402" Action="None" />
    <Rule Id="SA1413" Action="None" />
    <Rule Id="SA1512" Action="None" />
    <Rule Id="SA1516" Action="None" />

    <Rule Id="SA1518" Action="Warning" />

    <Rule Id="SA1601" Action="None" />
    <Rule Id="SA1602" Action="None" />
    <Rule Id="SA1604" Action="None" />
    <Rule Id="SA1605" Action="None" />
    <Rule Id="SA1606" Action="None" />
    <Rule Id="SA1607" Action="None" />
    <Rule Id="SA1608" Action="None" />
    <Rule Id="SA1611" Action="None" />
    <Rule Id="SA1615" Action="None" />
    <Rule Id="SA1618" Action="None" />
    <Rule Id="SA1623" Action="None" />
    <Rule Id="SA1642" Action="None" />
    <Rule Id="SA1643" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1648" Action="None" />
    <Rule Id="SX1309" Action="Warning" />
    <Rule Id="SA1503" Action="None" />
    <Rule Id="SA1501" Action="None" />
    <Rule Id="SA1202" Action="None" />
  </Rules>
</RuleSet>